@import url("normalize.css");
@import url("header-footer.css");

.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    width: 40vw;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.details h2 {
    color: #222;
    font-size: 2.7em;
    margin: 20px 0 0 0;
}

.details p {
    color: #555;
    font-size: 1.3em;
    margin: 20px 0;
    text-align: center;
}

.details a {
    color: #999;
}

.description img {
    box-shadow: none;
    border: 2px solid #777;
    border-radius: 50%;
    width: 15vw;
}
