@import url("normalize.css");
@import url("header-footer.css");

.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 65px;
}

.details {
    width: 500px;
}

.details h2 {
    font-size: 3em;
}

.details p {
    font-size: 1.5em;
}

.details a {
    color: rgb(199, 169, 0);
}
