.bill-card {
    display: grid;
    grid-template-rows: 150px 1fr 40px;
    width: 345px;
    height: 250px;
    border-radius: 0.5em;
    box-shadow: 1px 1px 10px 0 #ccc;
    padding: 10px;
    margin: 20px;
}

.bill-card-index {
    display: grid;
    grid-template-rows: 150px 1fr 40px;
    width: 345px;
    height: 200px;
    border-radius: 0.5em;
    box-shadow: 1px 1px 10px 0 #ccc;
    padding: 10px;
    margin: 20px;
}

.bill-card-data {
    display: grid;
    grid-template-columns: repeat(3, 115px);
}

.bill-property {
    margin: 15px;
}

.bill-property {
    display: grid;
    grid-template-columns: 30px 170px;
    align-items: center;
}

.bill-property div,
.bill-property p {
    margin: 5px;
}

.bill-property p {
    width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.bill-barter-like {
    display: flex;
    justify-content: space-around;
    background-color: #eee;
    border-radius: 0.25em;
    padding: 10px;
}

.bill-barter-container {
    display: flex;
    justify-content: space-around;
}

.bill-like-container {
    display: flex;
    justify-content: space-around;
}

.bill-barter-like button {
    border: none;
    background-color: transparent;
}

.bill-card img,
.bill-card-index img {
    width: 100%;
    height: 100%;
    display: inline;
    vertical-align: middle;
}

.bill-barter-like img {
    width: 20px;
}

.bill-card-photo img {
    border-radius: 0.25em;
}

/* Show photos */
.bill-card .front-photo,
.bill-card .back-photo,
.bill-card-index .front-photo,
.bill-card-index .back-photo {
    position: absolute;
    transition: opacity 300ms linear;
}

.bill-card .front-photo img,
.bill-card .back-photo img,
.bill-card-index .front-photo img,
.bill-card-index .back-photo img {
    width: 345px;
    height: 150px;
}

.bill-card .front-photo,
.bill-card-index .front-photo {
    opacity: 1;
}

.bill-card .back-photo,
.bill-card-index .back-photo {
    opacity: 0;
}

.bill-card-photo:hover .front-photo {
    opacity: 0;
}

.bill-card-photo:hover .back-photo {
    opacity: 1;
}
