/* Cards container */
.cards-container {
    display: grid;
    grid-gap: 30px;
}

.coins-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
}

.bills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

/* Continent / country containers */

.continent-cards {
    display: flex;
    flex-direction: column;
}

.country-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.country-container > p {
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    background-color: rgb(250, 250, 250);
    padding: 10px;
    margin: 0 0 30px 0;
    border-bottom: 1px solid #aaa;
}

.country-coins {
    width: 100%;
    margin: 0 0 30px 0;
    display: grid;
    grid-gap: 80px;
    grid-template-columns: repeat(4, 1fr);
}

.country-bills {
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}
