/* Importaciones */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

/* Variables */
:root {
    --font-family-content: "Roboto Condensed", sans-serif;
    --input-color: #eee;
    --button-background-color: #000;
    --button-shadow: 0px 0px 5px #111;
}

body {
    font-family: var(--font-family-content);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0px 1px 10px #b0b5ba;
    background-color: #000;
    color: #fff;
    height: 10vh;
}

.header img {
    min-width: 40px;
}

.menu {
    display: flex;
}

.ingreso-boton button {
    background: transparent;
    border: none;
    margin: 20px;
    font-size: 20px;
    color: #b0b5ba;
    font-weight: 700;
}

button:hover {
    cursor: pointer;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50vh;
    background-color: #000;
    color: #fff;
    padding: 50px;
}

.footer img {
    width: 10vh;
}

.footer a {
    color: #aaa;
}

.footer p:nth-of-type(1) {
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0 30px 0;
}

/*section{
    padding: 40vh;
    border: 1px black solid;
    display: flex;
    justify-content: center;
}*/

.header ul {
    display: flex;
    flex-direction: row;
}

.header ol,
.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header li {
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
}

.header li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.header li:hover a {
    color: #ffffff;
}

.header a {
    color: #fff;
    text-decoration: none;
}

/* Scroll */
body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.7);
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #aaa;
}

.description img {
    border-radius: 0.5em;
    box-shadow: 0 0 10px 5px #eee;
}
