@import url("normalize.css");
@import url("header-footer.css");

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.section div {
    display: flex;
    flex-direction: column;
}

#agregar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#agregarBilletes,
#agregarMonedas {
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.01);
    box-shadow: 0 0 5px 3px #eee;
    border-radius: 0.35em;
}

input {
    border-radius: 0.25em;
    border: none;
    background-color: #eee;
    margin: 5px 20px;
    padding: 10px;
}

input[type="file"] {
    background-color: transparent;
}

select {
    border: none;
    background-color: #fff;
    margin: 20px;
    padding: 10px;
}

button {
    border: none;
    border-radius: 0.35em;
    background-color: #000;
    color: #fff;
    padding: 20px;
    margin: 10px 20px 20px;
    width: 90%;
    transition: transform 1s;
    cursor: pointer;
}

button:hover {
    transform: scale(1.01);
}

input:active,
input:focus,
select {
    outline: 0;
}

#agregarBilletes p,
#agregarMonedas p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#logueo {
    background-color: rgba(0, 0, 0, 0.01);
    box-shadow: 0 0 5px 3px #eee;
    padding: 30px;
    border-radius: 0.25em;
}

#logueo input {
    margin: 10px;
    padding: 20px;
}

#logueo button {
    margin: 10px;
}
